:root {
  --accent-color: #6980db;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 500;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "nav"
    "hero"
    "offerings"
    "options"
    "methodology"
    "reviews"
    "prefoot"
    "footer";
}

a {
  text-decoration: none;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

nav ul {
  display: flex;
  margin-left: 200px;
}

nav ul li {
  list-style: none;
  padding: 10px 20px;
}

nav ul li:hover {
  border-bottom: 2px solid var(--accent-color);
}

nav ul li a {
  color: black;
}

.logo {
  border: 1px solid black;
  width: 200px;
  height: 50px;
}

.get-quote {
  background-color: var(--accent-color);
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  font-family: "Roboto";
  font-weight: 500;
  color: white;
}

header {
  grid-area: hero;
  height: 500px;
  display: flex;
  padding: 0px 100px;
  align-items: center;
  background-image: url("./resources/martin-bennie.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  color: white;
}

header div {
  width: 400px;
  height: 300px;
}

header div .sub-head-head {
  letter-spacing: 1.5px;
  font-size: 12px;
  padding-bottom: 15px;
}

header div h1 {
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 15px;
}

header button {
  background-color: var(--accent-color);
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  border: none;
}

header a {
  color: white;
  padding: 10px 0px;
  border-bottom: 2px solid white;
  margin-left: 30px;
}

header h1 span {
  color: var(--accent-color);
}

.header-description {
  font-weight: 400;
  padding-bottom: 20px;
}
main {
  grid-area: offerings;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
}

.box {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
  gap: 20px;
}

i {
  color: var(--accent-color);
  font-size: 50px;
}

.box .image-description p {
  font-weight: 300;
  text-align: center;
}

.flex {
  grid-area: options;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  background-color: #f7f7f7;
}

.flex .flex-head .flex-head-sub-head {
  color: var(--accent-color);
  letter-spacing: 1.5px;
  font-size: 12px;
  padding-bottom: 15px;
}

.flex .flex-head {
  width: 350px;
}

.flex .flex-head h2 {
  padding-bottom: 15px;
}

.flex .flex-head .flex-head-description {
  font-weight: 400;
  padding-bottom: 20px;
}

.flex .flex-head button {
  background-color: #f7f7f7;
  border-radius: 20px;
  color: var(--accent-color);
  padding: 10px 20px;
  border: 1px solid var(--accent-color);
}

.option {
  width: 280px;
  height: 350px;
  border: 1px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

.option .option-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightskyblue;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.option .option-description p {
  font-weight: 300;
  font-size: 12px;
}

.option .option-price p {
  font-weight: 300;
}

.option .option-price span {
  font-size: 25px;
}

.option .option-list ul li {
  list-style: none;
  font-weight: 300;
  font-size: 12px;
}

.option .option-list ul li::before {
  font-family: "tabler-icons";
  content: "\ea67";
  color: var(--accent-color);
  margin-right: 10px;
}

.option .option-circle i {
  font-size: 30px;
}

.option button {
  background-color: #f7f7f7;
  border-radius: 20px;
  color: var(--accent-color);
  padding: 10px 20px;
  border: 1px solid var(--accent-color);
  margin-top: auto;
}

.option button:hover {
  background-color: var(--accent-color);
  color: white;
  border: none;
}

.how {
  grid-area: methodology;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
}

.how .how-it-works {
  width: 350px;
}

.how .how-it-works .how-sub-head {
  color: var(--accent-color);
  letter-spacing: 1.5px;
  font-size: 12px;
  padding-bottom: 15px;
}

.how .how-it-works h2 {
  padding-bottom: 15px;
}

.how .how-it-works .how-description {
  font-weight: 400;
  padding-bottom: 20px;
}

.how .how-it-works button {
  background-color: #f7f7f7;
  border-radius: 20px;
  color: var(--accent-color);
  padding: 10px 20px;
  border: 1px solid var(--accent-color);
}

.how .works {
  width: 200px;
  height: 220px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.works .works-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightskyblue;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works .works-circle i {
  font-size: 30px;
}

.works .stage {
  color: var(--accent-color);
}

.works .works-description p {
  font-weight: 300;
  font-size: 12px;
}

.client {
  grid-area: reviews;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  background-color: #f7f7f7;
}

.client .clients-say {
  width: 350px;
}

.client .clients-say p {
  color: var(--accent-color);
  padding-bottom: 15px;
  font-size: 12px;
}

.client .customer-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  gap: 10px;
}

.client .customer-quote .carosel {
  width: 500px;
  background-color: white;
  border-radius: 10px;
  height: 200px;
  border: 1px solid black;
}

.client .photo {
  background-image: url("./resources/daniel-romero-Z4_kN9ybLf4-unsplash.jpg");
  background-size: contain;
}

.info {
  width: 400px;
  height: 200px;
}

.prefoot {
  grid-area: prefoot;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./resources/k-b-axa5jckDcg4-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.prefoot .prefoot-sub-head {
  font-size: 12px;
  padding-bottom: 5px;
}

.prefoot h3 {
  font-size: 30px;
  padding-bottom: 15px;
}

.prefoot .prefoot-description {
  padding-bottom: 15px;
}

.prefoot button {
  background-color: #f7f7f7;
  border-radius: 20px;
  color: var(--accent-color);
  padding: 10px 20px;
  border: 1px solid var(--accent-color);
}

footer {
  grid-area: footer;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.foot-item {
  width: 100px;
  height: 100px;
  border: 1px solid white;
}

footer ul {
  display: flex;
}

footer ul li {
  list-style: none;
  padding: 10px 20px;
}

footer ul li:hover {
  border-bottom: 2px solid var(--accent-color);
}

footer ul li a {
  color: white;
}
